<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/fStyle.css}">
</head>

<body>

<nav class="navbar navbar-expand-sm bg-light py-0 border-bottom ">
    <div class="container-fluid py-0">
        <p class="m-0"><a class="navbar-brand text-uppercase text-secondary" href="#">CMS</a></p>

        <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle rounded-0" data-bs-toggle="dropdown">
                <i class="bi bi-person-fill"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end py-0">
                <li><a class="dropdown-item px-3" th:href="@{/user-profile}"><i class="bi bi-person-fill"></i> User Profile</a></li>
                <hr class="m-0">
                <li><a class="dropdown-item px-3" th:href="@{/logout}"><i class="bi bi-box-arrow-right"></i> Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar col-2 bg-light border-end p-0 vh-100 sticky-top">
                <div class="sidebar-content p-2 border-bottom">
                    <div class="input-group flex-nowrap">
                        <input type="text" class="form-control p-1" placeholder="Search...">
                        <span class="input-group-text py-1 px-2" id="addon-wrapping"><i
                                class="bi bi-search"></i></span>
                    </div>
                </div>
                <div class="sidebar-content rounded-0 list-group">
                    <a th:href="@{/view-content}" class="list-group-item list-group-item-action white-hover border-0 border-bottom bg-light text-primary">
                        <i class="bi bi-table"></i> View contents
                    </a>
                    <a th:href="@{/form-content}" class="list-group-item list-group-item-action white-hover border-0 border-bottom bg-light text-primary" >
                        <i class="bi bi-pencil-square"></i>Form content
                    </a>
                </div>

            </div>
            <div class="content col-10">
                <div class="container pt-4">
                    <h3>Edit Profile</h3>
                    <p th:text="${successMessage}" style="color: green"></p>
                    <hr>
                    <div class="card">
                        <div class="card-header">
                            Profile Form Elements
                        </div>
                        <div class="card-body pe-5">
                            <form th:action="@{/user-profile}" method="post" th:object="${member}" class="pe-5" name="formValidation" id="formValidation">
                                <div class="mb-2 pe-5">
                                    <label class="form-label">First Name</label>
                                    <input type="text" name="firstname" th:field="*{firstName}" class="form-control input-field" id="firstName" placeholder="Enter the first name" required>
                                </div>
                                <div class="mb-2 pe-5">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" name="lastname" th:field="*{lastName}" class="form-control input-field" id="lastName" placeholder="Enter the last name" required>
                                </div>
                                <div class="mb-2 pe-5">
                                    <label class="form-label">Email</label>
                                    <p name="email" th:text="*{email}" id="email"></p>
                                </div>
                                <div class="mb-2 pe-5">
                                    <label class="form-label">Phone</label>
                                    <input th:field="*{phone}" type="text" name="phone" id="phone" class="form-control input-field" placeholder="Enter your phone number">
                                </div>
                                <div class="mb-2 pe-5">
                                    <label class="form-label">Description</label>
                                    <textarea th:field="*{description}" name="description" class="form-control input-field" id="description" rows="2"></textarea>
                                </div>
                                <input type="hidden" name="memberId" th:field="*{memberId}">
                                <input type="hidden" name="username" th:field="*{username}">
                                <input type="hidden" name="password" th:field="*{password}">
                                <input type="hidden" name="createdDate" th:field="*{createdDate}">
                                <input type="hidden" name="updateTime" th:field="*{updateTime}">
                                <input type="hidden" name="email" th:field="*{email}">

                                <input type="submit" value="Submit" class="btn btn-outline-secondary border-secondary">
                                <input type="reset" id='reset' class="btn btn-outline-secondary" value='Reset'>
                                <input type="button"  class="btn btn-outline-secondary" value='Clear' onclick="clearForm()">
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script th:src="@{/js/user-profile.js}"></script>

<script>
    function clearForm() {
        const inputs = document.querySelectorAll(".input-field");
        [...inputs].forEach(e => e.value="")
    }
</script>
</body>

</html>